@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    margin: 0;
    padding: 30px 100px 0 100px;
    background-color: #FFF7F0;
    color: #030303;
    font-family: "Plus Jakarta Sans", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 64px;
    aspect-ratio: 1;
}

.call-to-action {
    display: inline-block;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 14px 45px;
    border-radius: 80px;
}

.text-content {
    text-align: center;
    margin-bottom: 80px;
}

h1 {
    font-size: 3.5rem;
    margin-block-end: 22px;
}

p {
    color: #7A746E;
    font-size: 1.125rem;
    line-height: 28px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 354px;
    gap: 24px;
}

.card {
    padding: 24px;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    display: grid;
    grid-template-rows: 1fr auto;
}

.card img {
    display: block;
    max-width: 100%;
    justify-self: end;
}

.card h2 {
    font-size: 1.5rem;
    margin: 0;
}

.graphic-design {
    background-color: #755CDE;
}

.graphic-design img {
    width: 128px;
    height: 192px;
}

.ilustration {
    background-color: #EB7565;
}

.ilustration img {
    width: 230px;
    height: 115px;
}

.photography {
    background-color: #61C4B7;
}

.photography img {
    width: 86px;
    height: 216px;
}

#hero {
    margin-bottom: 137px;
}

#about-me {
    display: flex;
    gap: 127px;
    margin-bottom: 87px;
}

#about-me img {
    width: 445px;
    aspect-ratio: 1;
}

#skills {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#skills h2 {
    font-size: 2.5rem;
    margin: 0;
    margin-block-end: 34px;
}

#skills p {
    margin: 0;
    margin-block-end: 32px;
}

#skills .call-to-action {
    background-color: #EB7565;
    margin: 0;
    align-self: flex-start;
}